In [1]:
import pandas as pd
import os

path = 'E:/TextClassification/data_raw'
name = 'train_set.csv'
train_data = pd.read_csv(os.path.join(path, name), header=0)
test_data = pd.read_csv(os.path.join(path, 'test_set.csv'), header=0)

In [2]:
train_data.head()

,id,article,word_seg,class
0,0,7368 1252069 365865 755561 1044285 129532 1053...,816903 597526 520477 1179558 1033823 758724 63...,14
1,1,581131 165432 7368 957317 1197553 570900 33659...,90540 816903 441039 816903 569138 816903 10343...,3
2,2,7368 87936 40494 490286 856005 641588 145611 1...,816903 1012629 957974 1033823 328210 947200 65...,12
3,3,299237 760651 299237 887082 159592 556634 7489...,563568 1239563 680125 780219 782805 1033823 19...,13
4,4,7368 7368 7368 865510 7368 396966 995243 37685...,816903 816903 816903 139132 816903 312320 1103...,12

In [3]:
test_data.head()

,id,article,word_seg
0,0,7368 146447 316564 42610 55736 297797 93042 53...,816903 565958 726082 764656 335008 75094 20282...
1,1,985531 473628 1044285 1121849 206763 462208 11...,729468 520477 529032 101368 335130 520477 1113...
2,2,7368 7368 7368 7368 7368 7368 7368 7368 7368 7...,816903 816903 816903 816903 816903 816903 8169...
3,3,529819 1226459 856005 1177293 663773 272235 93...,231664 1033823 524850 330478 507199 520477 618...
4,4,42610 1252069 1077049 955883 1125260 1044285 2...,545370 379223 162767 520477 1194630 1197475 11...

In [4]:
train_data = train_data[['article', 'word_seg', 'class']]
test_data = test_data[['article', 'word_seg']]

In [5]:
train_data['article'] = train_data['article'].apply(lambda x: x.split())
train_data['word_seg'] = train_data['word_seg'].apply(lambda x: x.split())
           
test_data['article'] = test_data['article'].apply(lambda x: x.split())
test_data['word_seg'] = test_data['word_seg'].apply(lambda x: x.split())

In [6]:
train_data.head()

,article,word_seg,class
0,"[7368, 1252069, 365865, 755561, 1044285, 12953...","[816903, 597526, 520477, 1179558, 1033823, 758...",14
1,"[581131, 165432, 7368, 957317, 1197553, 570900...","[90540, 816903, 441039, 816903, 569138, 816903...",3
2,"[7368, 87936, 40494, 490286, 856005, 641588, 1...","[816903, 1012629, 957974, 1033823, 328210, 947...",12
3,"[299237, 760651, 299237, 887082, 159592, 55663...","[563568, 1239563, 680125, 780219, 782805, 1033...",13
4,"[7368, 7368, 7368, 865510, 7368, 396966, 99524...","[816903, 816903, 816903, 139132, 816903, 31232...",12

In [7]:
test_data.head()

,article,word_seg
0,"[7368, 146447, 316564, 42610, 55736, 297797, 9...","[816903, 565958, 726082, 764656, 335008, 75094..."
1,"[985531, 473628, 1044285, 1121849, 206763, 462...","[729468, 520477, 529032, 101368, 335130, 52047..."
2,"[7368, 7368, 7368, 7368, 7368, 7368, 7368, 736...","[816903, 816903, 816903, 816903, 816903, 81690..."
3,"[529819, 1226459, 856005, 1177293, 663773, 272...","[231664, 1033823, 524850, 330478, 507199, 5204..."
4,"[42610, 1252069, 1077049, 955883, 1125260, 104...","[545370, 379223, 162767, 520477, 1194630, 1197..."

In [8]:
train_data['article_len'] = train_data['article'].apply(lambda x: len(x))
train_data['word_seg_len'] = train_data['word_seg'].apply(lambda x: len(x))

test_data['article_len'] = test_data['article'].apply(lambda x: len(x))
test_data['word_seg_len'] = test_data['word_seg'].apply(lambda x: len(x))

In [9]:
train_data.head()

,article,word_seg,class,article_len,word_seg_len
0,"[7368, 1252069, 365865, 755561, 1044285, 12953...","[816903, 597526, 520477, 1179558, 1033823, 758...",14,1047,627
1,"[581131, 165432, 7368, 957317, 1197553, 570900...","[90540, 816903, 441039, 816903, 569138, 816903...",3,4785,3062
2,"[7368, 87936, 40494, 490286, 856005, 641588, 1...","[816903, 1012629, 957974, 1033823, 328210, 947...",12,2407,1588
3,"[299237, 760651, 299237, 887082, 159592, 55663...","[563568, 1239563, 680125, 780219, 782805, 1033...",13,812,467
4,"[7368, 7368, 7368, 865510, 7368, 396966, 99524...","[816903, 816903, 816903, 139132, 816903, 31232...",12,1974,1297

In [10]:
test_data.head()

,article,word_seg,article_len,word_seg_len
0,"[7368, 146447, 316564, 42610, 55736, 297797, 9...","[816903, 565958, 726082, 764656, 335008, 75094...",771,478
1,"[985531, 473628, 1044285, 1121849, 206763, 462...","[729468, 520477, 529032, 101368, 335130, 52047...",578,350
2,"[7368, 7368, 7368, 7368, 7368, 7368, 7368, 736...","[816903, 816903, 816903, 816903, 816903, 81690...",86,59
3,"[529819, 1226459, 856005, 1177293, 663773, 272...","[231664, 1033823, 524850, 330478, 507199, 5204...",879,528
4,"[42610, 1252069, 1077049, 955883, 1125260, 104...","[545370, 379223, 162767, 520477, 1194630, 1197...",2515,1603

In [11]:
train_data['article_len'].describe(percentiles=[.25, .5, .75, .8, .85, .9, .95, .98])

count    102277.000000
mean       1177.100159
std        1348.431565
min          50.000000
25%         497.000000
50%         842.000000
75%        1408.000000
80%        1618.000000
85%        1899.000000
90%        2346.000000
95%        3201.000000
98%        4720.960000
max       55804.000000
Name: article_len, dtype: float64

In [12]:
train_data['word_seg_len'].describe(percentiles=[.25, .5, .75, .8, .85, .9, .95, .98])

count    102277.000000
mean        716.954604
std         801.804540
min           6.000000
25%         305.000000
50%         514.000000
75%         862.000000
80%         990.000000
85%        1161.000000
90%        1428.000000
95%        1949.000000
98%        2858.480000
max       39759.000000
Name: word_seg_len, dtype: float64

In [13]:
test_data['article_len'].describe(percentiles=[.25, .5, .75, .8, .85, .9, .95, .98])

count    102277.000000
mean       1177.731865
std        1320.447219
min          50.000000
25%         499.000000
50%         842.000000
75%        1412.000000
80%        1621.000000
85%        1907.000000
90%        2349.000000
95%        3207.000000
98%        4672.000000
max       31694.000000
Name: article_len, dtype: float64

In [14]:
test_data['word_seg_len'].describe(percentiles=[.25, .5, .75, .8, .85, .9, .95, .98])

count    102277.000000
mean        718.052152
std         792.131628
min           6.000000
25%         306.000000
50%         516.000000
75%         863.000000
80%         992.000000
85%        1162.000000
90%        1429.000000
95%        1949.000000
98%        2826.000000
max       19755.000000
Name: word_seg_len, dtype: float64

In [15]:
train_data.groupby('class').size()

class
1     5375
2     2901
3     8313
4     3824
5     2369
6     6888
7     3038
8     6972
9     7675
10    4963
11    3571
12    5326
13    7907
14    6740
15    7511
16    3220
17    3094
18    7066
19    5524
dtype: int64

In [17]:
article_dic = {}
article_list = train_data['article'].append(test_data['article'])

In [18]:
for article in article_list:
    for index in article:
        if index in article_dic:
            article_dic[index] += 1
        else:
            article_dic[index] = 1

# 总字数

In [19]:
print(len(article_dic))

16052

In [20]:
word_seg_dic = {}
word_list = train_data['word_seg'].append(test_data['word_seg'])
for word_seg in word_list:
    for index in word_seg:
        if index in word_seg_dic:
            word_seg_dic[index] += 1
        else:
            word_seg_dic[index] = 1

# 总词数

In [21]:
print(len(word_seg_dic))

1271460

In [22]:
def sort_dic(dic):
    return sorted(dic.items(),key = lambda x:x[1],reverse = True)

article_dic_sorted = sort_dic(article_dic)
word_seg_dic_sorted = sort_dic(word_seg_dic)
print(word_seg_dic_sorted[0])

('520477', 10592277)

In [23]:
# 将词典项变成2个变换词典
# article_word2id = {}
# article_id2word = {}

# word_seg_word2id = {}
# word_seg_id2word = {}

def generate_dic(dic_list):
    word2id = {}
    id2word = {}
    for i, item in enumerate(dic_list):
        word2id[item[0]] = i + 1
        id2word[i+1] = item[0]
    return word2id, id2word

article_word2id, article_id2word = generate_dic(article_dic_sorted)
word_seg_word2id, word_seg_id2word = generate_dic(word_seg_dic_sorted)

In [24]:
import pickle as pkl

def exchange(li, word2id):
    return [word2id[x] for x in li]

train_data['article'] = train_data['article'].apply(exchange, args=(article_word2id,))
train_data['word_seg'] = train_data['word_seg'].apply(exchange, args=(word_seg_word2id,))

test_data['article'] = test_data['article'].apply(exchange, args=(article_word2id,))
test_data['word_seg'] = test_data['word_seg'].apply(exchange, args=(word_seg_word2id,))
train_data.head()

# with open('dictionary.pkl', 'wb') as fw_d, open('data_all.pkl', 'wb') as fw_data:
#     pkl.dump(fw_d, {'article': [article_word2id, article_id2word],
#                     'word_seg': [word_seg_word2id, word_seg_id2word]})
#     pkl.dump(fw_data, new_data)

,article,word_seg,class,article_len,word_seg_len
0,"[2, 373, 34, 26, 1, 244, 169, 3, 208, 449, 383...","[2, 2057, 1, 8019, 3, 2008, 502, 22, 1, 163, 3...",14,1047,627
1,"[13, 99, 2, 381, 295, 711, 545, 2, 819, 597, 1...","[2908, 2, 38268, 2, 158436, 2, 80259, 10342, 2...",3,4785,3062
2,"[2, 353, 677, 309, 3, 44, 35, 878, 1078, 5, 57...","[2, 550, 452, 3, 15453, 290, 167, 21, 11272, 3...",12,2407,1588
3,"[141, 23, 141, 106, 42, 77, 1398, 2197, 8, 225...","[261, 5995, 168, 19357, 5943, 3, 850, 12, 4145...",13,812,467
4,"[2, 2, 2, 1497, 2, 2797, 307, 660, 966, 30, 43...","[2, 2, 2, 811, 2, 10790, 23136, 10, 20699, 11,...",12,1974,1297

In [25]:
test_data.head()

,article,word_seg,article_len,word_seg_len
0,"[2, 509, 9, 84, 418, 454, 623, 239, 152, 626, ...","[2, 650, 95, 162, 591, 1690, 1143, 1, 175, 7, ...",771,478
1,"[482, 93, 1, 39, 43, 347, 376, 294, 308, 1, 20...","[957, 1, 199, 3794, 1629, 1, 11620, 11004, 362...",578,350
2,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 524, 859, 16...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1372, 18080,...",86,59
3,"[1281, 1128, 3, 195, 375, 182, 315, 487, 376, ...","[85697, 3, 11755, 2429, 39357, 1, 1930, 90, 11...",879,528
4,"[84, 373, 10, 188, 1320, 1, 270, 68, 25, 99, 5...","[679, 370, 2350, 1, 376, 966, 472, 16, 1355, 1...",2515,1603

In [26]:
with open('dictionary.pkl', 'wb') as fw_d, open('data_train.pkl', 'wb') as fw_train, open('data_test.pkl', 'wb') as fw_test:
    pkl.dump({'article': [article_word2id, article_id2word], 
              'word_seg': [word_seg_word2id, word_seg_id2word]}, fw_d)
    pkl.dump(train_data, fw_train)
    pkl.dump(test_data, fw_test)